<!DOCTYPE html>
<html>
<head>
  <title>PNPI</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, '', class: "#{controller_name} #{@background}-background #{@background_shade}-background" do %>
	
	<%= content_tag :div, notice, class: 'flash notice' if notice %>
	<%= content_tag :div, alert,  class: 'flash alert'  if alert %>
	
	<%= content_tag :nav do %>
		<%= render partial: 'menus/home' %>
		<%= render partial: 'menus/admin' if admin? %>
		<%= render partial: 'menus/user' unless login? %>
		<%= render partial: 'menus/signup' unless create? or current_user %>
	<% end %>
	
	<%= yield %>

<% end %>
</html>
