<!DOCTYPE html>
<html>
<head>
  <title>PNPI</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag	 "http://fonts.googleapis.com/css?family=Coustard", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag	 "http://fonts.googleapis.com/css?family=Rokkitt", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<%= content_tag :body, '', class: "#{controller_name} #{@background}-background #{@background_shade}-background #{'admin' if admin?} #{'user' if current_user }".squeeze(' ') do %>
	<%= content_tag :div, flash, class: "flash #{flash_type}" %>
	<%= content_tag :nav, render(partial: 'menus/index') %>
	
	<%= yield %>

<% end %>
</html>
