<!DOCTYPE html>
<html>
<head>
  <title>PNPI</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_tag :div, notice, class: 'flash notice' if notice %>
<%= content_tag :div, alert,  class: 'flash alert'  if alert %>
<%= yield %>

<%= render partial: 'users/dashboards/user'unless devise_controller? %>
<%= render partial: 'users/dashboards/admin' if current_user and current_user.admin? %>

</body>
</html>
